.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-top: 1rem;
  }

  .heading {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .projectContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
    background-color: #656964;
    overflow: hidden;
    max-height: 2.5rem;
    transition: max-height 0.5s cubic-bezier(0.5, 0, 0, 1) 0s, box-shadow 0.3s ease-in-out;
    width: 75%;
  }
  
  .projectContainer.expanded {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    transition: max-height 0.5s cubic-bezier(0.5, 0, 0, 1) 0s, box-shadow 0.3s ease-in-out;
    max-height: 1000px;
  }
  
  .projectBox {
    background-color: #f8f9fa;
    padding: 1rem;
    width: 300px;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .projectBox:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .projectBox.expanded {
    width: 100%;
  }
  