.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectBox {
  position: relative;
  background-color: #333;
  padding: 1rem;
  border: 1px solid #000;
  min-height: 200px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
}

.projectBox:hover {
  background-color: #696564;
}

.projectHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.projectName {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.githubIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.statusText {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
}

@media (max-width: 480px) {
    .heading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .projectBox {
      padding: 0.5rem;
      min-height: 100px;
    }
  
    .projectName {
      font-size: 1.2rem;
    }
  
    .githubIcon {
      top: 0.5rem;
      right: 0.5rem;
    }
  
    .statusText {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
  }
  